body {
    background: white;
    margin:3px;
    
}
    body div{
        margin-left:200px;

    }

    aside {
        float: left;
        width: 180px;
        padding: 2.5%;
        height: 100vh;
        border-right: 5px solid #2a2727;
        background: grey;
    }

    aside ul {
        padding-left: 0rem;
    }

aside p {
    color: white;
    font-size: 20px;
}

aside a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

aside ul li:has(:hover) {
    color: red;
}

main .features{
    float:left;
    margin-top:50px;
    text-align:center;
    width:75%;
    margin: 20px, 34%;
}


.alert-warning {
    width: 30%;
    float: left;
}