{% extends 'PostingAccounting/layout.html' %}

{% block title  %}

Страница добавления

{% endblock %}

{% block content  %}

<div class="features">
    <h1> Вот тут таблица</h1>
    <form method="post">
        {% csrf_token %}
        {{form.sku}}<br />
        {{form.count}}<br />
        {{form.price}}<br />
        {{form.order}}<br />
        {{form.url}}<br />
        {{form.description}}<br />
        <span>{{error}}</span>
        <button class="btn btn-info" type="submit"> Добавить</button>
    </form>
</div>
{% endblock %}