{% extends 'PostingAccounting/layout.html' %}
{% load static  %}
<html>
    {% block title  %}
Страница добавления
{% endblock %}
<body>
    {% block content  %}
    <div class="center" style="display: block; width:80%">
        <h1>Посылка</h1>
        <form id="order-form" method="post">
            {% csrf_token %}
            {{form.orderNomber}}
            <div style="display: flex; margin:4px;">
                {{form.orderDate}}
                {{form.unboxingDate}}
            </div>

            <div style="display: table;">
                {% for field in form.orderItems %}
                <div style="display: flex; float: left; width:100%; margin:4px;">
                    <div style="width:100%;">
                        {{field.description}}<br />
                        {{field.count}}<br />
                        {{field.price}}<br />
                        {{field.sku}}<br />
                    </div>
                    <button class="btn btn-warning" style="width:40px; margin:2px;"> V </button>
                    <button class="btn btn-danger" style="width: 40px; margin: 2px;"> Х </button>
                </div>

                {%endfor%}
                <div style="display:block">
                    <button id='js-open-modal' class="btn btn-info" data-modal="1" orderNomber=form.orderNomber> Добавить позицию</button>
                    <span>{{error}}</span>
                </div>
            </div>
            <br />
            <div style="display: grid;">
                <button class="btn btn-info" type="submit">Сохранить</button>
                {%if form.orderId%}
                <a href="{% url 'package_remove' form.orderId %}" class="btn btn-danger"> Удалить</a>
                {%endif%}
            </div>
        </form>
        {% include 'PostingAccounting/new_item.html' %}
    </div>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'main/js/TJS.js' %}"></script>
    {% endblock javascript %}
    {% endblock %}
</body>
</html>
