{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Модальное окно с использованием Bootstrap</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <style>
        .image-item {
            display: inline-block;
            margin: 10px;
        }

        .modal-dialog {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .modal-body img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Модальное окно с использованием Bootstrap</h1>
        <div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" id="modalImage" class="img-fluid" alt="Модальное окно">
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container">

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#imageModal').on('show.bs.modal', function(e) {
                var image = $(e.relatedTarget).data('image-url');
                $("#modalImage").attr("src", image);
            });
        });
    </script>
</body>
</html>