{% extends 'main/layout.html' %}

{% block title %}
    Страница блоков
{% endblock %}

{% block content  %}
    {% if user.is_authenticated %}
        <div class="features">
            {%if tables%}
            {%for el in tables %}
            <div class="alert alert-warning">
                <p>{{el.full_text}}</p>
                <p>{{el.date}}</p>
                <form action="{% url 'list-detail' el.id %}"> <button class="bth alert-warning"> {{el.title}}</button></form>
            </div>
            {%endfor%}
            {%else %}
            <p>Нет записей</p>
            {%endif%}
        </div>
    {% else %}
    <h1>Первая страница</h1>
    {% endif %}


{% endblock %}

