{% extends 'main/layout.html' %}

{% block title  %}

Первая страница

{% endblock %}

{% block content  %}

<h1>Первая страница</h1>
<div class="features">
    {%if tables%}
    {%for el in tables %}

    <div class="alert alert-warning">
        <h3>
            {{el.title}}

        </h3>
        <p>
            {{el.anons}}
        </p>
        <p>  <!--коментарий--></p>
    </div>

    {%endfor%}
    {%else %}
    <p>Нет записей</p>
    {%endif%}
    <!--коментарий-->




</div>



{% endblock %}