{% extends 'AutoH/layout.html' %}
{% block title  %}
Устройства
{% endblock %}
{% block content  %}
{% csrf_token %}
<div style="display: grid;">
    {% if user.is_authenticated %}
    <details>
        <summary>Добавить новое устройство</summary>
        <div style=" background: #98e38d; Margin: 6px; border-radius: 5px; width: 500px; ">
            <form style="display: grid; " action="{% url 'add_new_dev' %}" method="post">
                {% csrf_token %}
                <div>
                    <div>
                        <label style="width: 60px; ">Имя</label>
                        <input style="width: 380px; " type="text" name="name" />
                    </div>
                    <div>
                        <label style="width: 60px;">Строка</label>
                        <input style="width: 380px; " type="text" name="devicedata" />
                    </div>
                    <div>
                        <label style="width: 60px;">Тип</label>
                        <input style="width: 380px; " type="text" name="type" />
                    </div>
                </div>
                <button> Добавить </button>
            </form>
        </div>
    </details>
    {% for el in device %}
    <div style="background:{{ el.color }} ; Margin:6px; border-radius: 5px;width: 500px;">
        <div style="display: inline-flex; vertical-align: top; Margin: 5px;">
            <div style="width:350px;">
                <div>
                    <p style="display: ruby; Margin: 5px; vertical-align: super;">{{el.device.sn}} </p>
                    <p style="display: ruby; Margin: 5px; vertical-align: super;">id {{el.device.id}} </p>
                    <p style="display: ruby; Margin: 5px; vertical-align: super;">Тип {{el.device.deviceType.name}} </p>
                </div>
                <p style="display: ruby; Margin: 5px; vertical-align: super;">Активность - {{el.data}}</p>
            </div>
            <details>
                <summary>Удалить устройство</summary>
                <form action="{% url 'rem_dev' el.device.id %}"> <button class="bth alert-warning" style="width: 100px; Margin: 5px;">Удалить</button></form>
            </details>
        </div>
        {% if el.device.deviceType.name == "valve" %}
        {% include 'AutoH/devtype/valve.html' %}
        {% elif el.device.deviceType.name == "relay" %}
        {% include 'AutoH/devtype/relay.html' %}
        {% elif el.device.deviceType.name == "thermo_socket" %}
        {% include 'AutoH/devtype/thermo_socket.html' %}
        {% elif el.device.deviceType.name == "ext_dev" %}
        <label>{{el.time}}</label>
        <label>{{el.term}}</label>
        <label>{{el.stat}}</label>
        <form action="{% url 'get_ext_dev' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="dev_id" value={{el.device.id}} />
            <input type="hidden" name="dev_link" value={{el.link}} />
            <button>On/Off</button>
        </form>

        {% else %}
        <label>{{el.DeviceData}}</label>
        {% endif %}

    </div>
    {%endfor %}
    {% endif %}
    {% include 'main/Modal.html' %}
</div>
{% endblock %}