{% extends 'AutoH/layout.html' %}
{% block title  %}
Главная страница
{% endblock %}
{% block content  %}
<div>
    {% if user.is_authenticated %}
    <h1>{{ title}}</h1>

    <div>

        Сценарии

        Устройство 
        Элименты
        Условия 
        Устройство
        <div>
            <form action="{% url 'add_task' %}" method="GET" style="display: ruby;">
                {% csrf_token %}
                <button> ADD </button>
            </form>
        </div>
    </div>


    {% for el in values %}
    <p>{{el}}</p>
    {%endfor %}
    {% include 'main/Modal.html' %}
    {% endif %}
</div>

{% endblock %}